* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

h1,
h2 {
    font-family: "Poppins", sans-serif;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.btn {
    color: #fff;
    font-size: 1.8rem;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: 0.18px;
    padding: 24px 32px;
    border-radius: 12px;
    background: #ff7b29;
    box-shadow: 0px 30px 30px -18px rgba(229, 89, 54, 0.16);
    outline: none;
    border: 1px solid #ff7b29;
}

.section-heading {
    color: #2d3134;
    font-size: 4rem;
    font-family: Poppins;
    font-weight: 700;
    line-height: 1.25;
}

.section-desc {
    margin-top: 16px;
    color: #676a6c;
    font-size: 1.6rem;
    font-family: Inter;
    line-height: 1.625;
}
